#content
	%h1 Testing this whole system out, I am
	%p 
		I think this page will represent the information contained in the selected data set... I think that is the way I'll need to handle this.... Starting will be the selection of a set of metrics, which can then be analyzed against any selected set of data.  This can automatically load the pregenerated data which would represent the comparison of the current run to all previous runs in that taxonomy... right?  Sure.  
	%p
		If you want a specific time range... you can select that on the "start" page and have a custom set of metric graphs generated.



