#content
	%h1 Here is where you can select the database settings you'd like to examine
	- @msruns = Msrun.all
	%table
		%th Run #	
		%th RawID	
		%th TimeStamp
		- @msruns.each do |run|
			%tr
				%td=run.id
				%td=run.raw_id
				%td=run.rawtime.to_s.gsub(/T/,"\t")
	
	%p 
		



